*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "" ; 
    clear:both; 
    display: table; 
}


/* common */
.f-left{
    float: left;
}

.f-right{
    float: right;
}

.center{
    margin: 0 auto;
}
.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}


.fs13{
    font-size: 13px;
}

.fs15{
    font-size: 15px;
}

.fs30{
    font-size: 30px;
}

.fs38{
    font-size: 38px;
}

.fs60{
    font-size: 60px;
}

.mb20{
    margin-bottom: 20px;
}

.mb40{
    margin-bottom: 40px;
}

.mb100{
    margin-bottom: 100px;
}

.btn{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.azzurino{
    background-color: #B4D0E7;
}
/* common */


/* header */
header ul,
header .nav,
header #logo,
header .nav li{
    display: inline;
}

header img{
    vertical-align: middle;
}

header .nav li{
    list-style: none;
}

header{
    height: 70px;
    line-height: 70px;
    background-color: white;
}

header{
    position: fixed;
    z-index: 999;
    padding: 0 20px;
}




header .nav li a{
    text-decoration: none;
    color: #000;
    padding: 0 20px;
}

/* header */


/* jumbo */
.jumbo{
    padding-top: 70px;
    height: 80vh;
    margin-bottom: 180px;
}

.jumbo .text h1{
    text-align: center;
}

.jumbo .text{
    margin-top: 8%;
}

.jumbo .text>*{
    margin-bottom: 50px;
}

.jumbo .text img{
    width: 100%;
    height: 100%;
}

.jumbo .text .w-40>*{
    margin-bottom: 20px;
}

.jumbo .text .w-40>a{
    display: inline-block;
}

/* jumbo */


/* main */

main{
    display: block;
}

/* vendita */



#vendita h2{
    margin-bottom: 20px;
}

#vendita .stile-pagamento{
    margin-bottom: 30px;
}
#vendita .stile-pagamento label{
    margin-right: 30px;
}

/* collone */
#vendita .colonne3{
    width: calc(100% / 3);
}

#vendita .colonne3,.containter{
   height: 900px;
}

#vendita .containter{
    border: 1px solid lightgrey;
}

#vendita .containter .type{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

#vendita .containter .info{
    padding: 10px;
}

#vendita .frequenza{
    margin-bottom: 20px;
    color: lightgray;
}



#vendita .containter .mb40{
    margin-bottom: 40px;
}

#vendita .containter .benefit{
    padding-left: 1.7em;
    text-indent: -0.7em;
}

#vendita .containter .btn{
    display: block;
    text-align: center;
}

#vendita .containter hr{
    width: 30%;
}

#vendita .recap i{
    color: blue;
}
/* collone */

/* team */

#vendita .team{
    border: 1px solid lightgray;

}

#vendita .team>.text{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

#vendita .team h3{
    display: inline-block;
}

#vendita .space{
    padding: 20px;
}

#vendita .space .f-left{
    width: 60%;
}

#vendita .space .f-right{
    width: 40%;
    text-align: right;
}
#vendita .space .btn{
    padding: 6px 18px;
}
/* team */

/* vendita */

#partner img{
    width: 100%;
}

#partner .f-right{
    padding: 0 50px;
}

#partner .btn{
    background-color: white;
    color: #000;
    border: 1px solid black;
    display: inline-block;
}

/* carateristiche */
#carateristiche .col{
    width: calc(100% / 3);
}
#carateristiche .image img{
    object-fit: contain;
}

#carateristiche .image image,
#carateristiche .image img{
    width: 100%;
    height: 250px;
}

#carateristiche p span{
    text-decoration: underline;
}

#carateristiche .pr20{
    padding-left: 20px;
}

#carateristiche .pl20{
    padding-right: 20px;
}

#carateristiche .prl20{
    padding: 0 20px;
}

/* carateristiche */

/* main */
/* debug */
/* .debug header *{
    border: 1px solid red;
} */
/* debug */