*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "" ; 
    clear:both; 
    display: table; 
}


/* common */

html{
     scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.f-left{
    float: left;
}

.f-right{
    float: right;
}

.center{
    margin: 0 auto;
}

.trasform-center-hor{
    left: 50%;
    transform: translate(-50% , 0);
}

.trasform-center-ver{
    top: 50%;
    transform: translate(0 , -50%);
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.w-10{
    width: 10%;
}

.fs10{
    font-size: 10px;
}

.fs13{
    font-size: 13px;
}

.fs15{
    font-size: 15px;
}

.fs30{
    font-size: 30px;
}

.fs38{
    font-size: 38px;
}

.fs60{
    font-size: 60px;
}

.fw900{
    font-weight: 900;
}

.fw700{
    font-weight: 700;
}

.fw500{
    font-weight: 500;
}

.fw300{
    font-weight: 300;
}

.fw100{
    font-weight: 100;
}



.mb20{
    margin-bottom: 20px;
}

.mb40{
    margin-bottom: 40px;
}

.mb50{
    margin-bottom: 50px;
}

.mb80{
    margin-bottom: 80px;
}


.mb100{
    margin-bottom: 100px;
}

.btn{
    padding: 5px 10px;
    text-decoration: none;
}
.blue{
    background-color: #0061FF;
    color: white;
}

.btn.blue:hover{
     background-color: #3783ff;
}

.white{
    color: #000;
    background-color: white    ;
}

.btn.white:hover{
     background-color: #f5f5f5;
}

.azzurino{
    background-color: #B4D0E7;
}

hr{
    border: 1px solid #d9d9dc;
}
/* common */


/* header */
header .nav>ul,
header .nav,
header #logo,
header .nav>ul> li{
    display: inline-block;
}

header img{
    vertical-align: middle;
}

header .nav li{
    list-style: none;
}

header{
    height: 70px;
    line-height: 69px;
    background-color: white;
}

header{
    position: fixed;
    z-index: 999;
    padding: 0 20px;
}




header .nav li a{
    text-decoration: none;
    color: #000;
    padding: 0 20px;
    display: inline-block;
    height: 100%;
}

header .nav>ul>li{
    position: relative;
}



header .nav li:hover {
    border-bottom: 1px solid #0061FF;
}

header .nav li:hover .bonus{
    display: inline-block;
}


header .bonus{
    background-color: white;
    color: #000;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 200px;
}

header .bonus a{
    display:  inline-block;
}

/* header */


/* jumbo */

.jumbo{
    padding-top: 70px;
    margin-bottom: 200px;
}


.jumbo .text{
    bottom: -80px;
    position: relative;
}

.jumbo .text .fs30 a{
    color: #000;
}


.jumbo .text>div{
    margin-top: 50px;
}

.jumbo .text img{
    width: 100%;
}

.jumbo .text .w-30>a{
    display: inline-block;
}



/* jumbo */


/* main */

main{
    display: block;
}

/* vendita */
.input {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.input:hover input ~ .checkmark {
  background-color: #ccc;
}	

.input input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.input input:checked ~ .checkmark:after {
  display: block;
}

.input .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: white;
}






#vendita h2{
    margin-bottom: 20px;
}


/* collone */
#vendita .colonne3{
    width: calc(100% / 3);
}

#vendita .colonne3,.containter{
   min-height: 950px;
}

#vendita .containter{
    border: 1px solid lightgrey;
}

#vendita .containter .type{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

#vendita .containter .info{
    padding: 20px;
}

#vendita .frequenza{
    margin-bottom: 20px;
    color: lightgray;
}



#vendita .containter .mb40{
    margin-bottom: 40px;
}

#vendita .containter .benefit{
    padding-left: 1.7em;
    text-indent: -0.7em;
}

#vendita .containter .btn{
    display: block;
    text-align: center;
}

#vendita .compra>*{
    display: inline-block;
    vertical-align: top;
}

#vendita .compra hr{
    margin: 40px 0;
}



#vendita .recap i{
    color: #0866ff;
}
/* collone */

/* team */

#vendita .team{
    border: 1px solid lightgray;

}

#vendita .team>.text{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

#vendita .team h3{
    display: inline-block;
}

#vendita .containter.team{
    min-height: 0px;
}

#vendita .space{
    padding: 20px;
}

#vendita .space .f-left{
    width: 60%;
}

#vendita .space .f-right{
    width: 40%;
    text-align: right;
}
#vendita .space .btn{
    padding: 6px 18px;
}
/* team */

/* vendita */

#partner img{
    width: 100%;
}

#partner .f-right{
    padding: 0 50px;
}

#partner .btn{
    border: 1px solid black;
    display: inline-block;
}

/* carateristiche */
#carateristiche .col{
    width: calc(100% / 3);
}
#carateristiche .image img{
    object-fit: contain;
}

#carateristiche .image image,
#carateristiche .image img{
    width: 100%;
    aspect-ratio: 1/1;
}

#carateristiche p span{
    text-decoration: underline;
}

#carateristiche .pr20{
    padding-left: 40px;
}

#carateristiche .pl20{
    padding-right: 40px;
}

#carateristiche .prl20{
    padding: 0 20px;
}

/* carateristiche */

/* Dropbox_Business */
#Dropbox_Business h2{
    width: 60%;
}
/* Dropbox_Business */
/*banner */

#banner{
    background-color: #f5f5f5;
}

#banner .client{
    position: relative;
    aspect-ratio: 1/1;
}
#banner .client.one{
    background-color: #A2D39B;
}

#banner .client.two{
    background-color: #61082B;
}
#banner .client.three{
    background-color: #0093CE;
}
#banner .client.four{
    background-color: #FF1C1C;
}
#banner .client.five{
    background-color: #D5001F;
}
#banner .client.six{
    background-color: #B4D0E7;
}
#banner .client.seven{
    background-color: #0D2481;
}
#banner .client.eight{
    background-color: #FFD830;
}

#banner .client:hover img{
    width: calc((100% + 20px) /2)
}

#banner .client.one:hover{
    border: 10px solid #d0e9cd;
}

#banner .client.two:hover{
    border: 10px solid #88214a;
}
#banner .client.three:hover{
    border: 10px solid #34b6e9;
}
#banner .client.four:hover{
    border: 10px solid #ff5555;
}
#banner .client.five:hover{
    border: 10px solid #df314b;
}
#banner .client.six:hover{
    border: 10px solid #dbe7f0;
}
#banner .client.seven:hover{
    border: 10px solid #3249a3;
}
#banner .client.eight:hover{
    border: 10px solid #ffe676;
}



#banner .client img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

#banner .testo-centrale {
   padding: 60px;
}

#banner .testo-centrale hr{
   color: #e0e0e2;
}




#banner .testo-centrale img{
   width: 30%;
}

#banner .testo-centrale hr{
   width: 10%;
   margin: 30px 0;
}

#banner .banner{
   min-height: 350px;
   position: relative;
   color: #61082B;
}

#banner .banner>div {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
}


/* banner */

/* domande */

#domande .question *{
    padding: 20px 0 ;
}
#domande .question{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid  lightgray;
    transition: height 2s;
}


#domande .hide{
    color: #919499;
    display: none;
}

#domande .hide>a{
    color: #919499;
}

#domande .question .fa-chevron-down{
   transition: transform 0.5s; ;
}

#domande .question:hover .fa-chevron-down{
   transform: rotate(180deg);
}
#domande .question:hover .hide{
   display: inline-block;
}
/* domande */
/* main */

/* footer */
footer{
    background-color: #000;
    padding: 50px 0;
}


footer ul{
    color: white;
    width: calc(100% / 5);
    float: left;
    list-style: none;
}

footer ul li{
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer ul li h3{
    font-size: 20px;
}

footer ul li>a{
    color: #ececec;
    text-decoration: none;
}

footer .language{
    color: #999999;
   text-decoration: none;
   font-size: 13px;
   line-height: 15px;
}
footer .language i{
    padding: 2px;
}

footer .language i.fa-globe-americas{
    vertical-align: middle;
}

footer .language i.fa-sort-up{
    vertical-align: sub;
}



/* footer */
/* debug */ 

/* .debug .nav.f-right *{
    border: 1px solid red;
} 

.debug .bonus{
    border: 1px solid red;
}  */
/* debug */