*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "" ; 
    clear:both; 
    display: table; 
}


/* common */
.f-left{
    float: left;
}

.f-right{
    float: right;
}

.center{
    margin: 0 auto;
}
.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-60{
    width: 60%;
}

.btn{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.azzurino{
    background-color: #B4D0E7;
}
/* common */


/* header */
header ul,
header .nav,
header #logo,
header .nav li{
    display: inline;
}

header img{
    vertical-align: middle;
}

header .nav li{
    list-style: none;
}

header{
    height: 70px;
    line-height: 70px;
    background-color: white;
}

header{
    position: fixed;
    z-index: 999;
    padding: 0 20px;
}




header .nav li a{
    text-decoration: none;
    color: #000;
    padding: 0 20px;
}

/* header */

/* debug */
.debug header *{
    border: 1px solid red;
}
/* debug */